# pandas知识点

loc 按column, iloc按索引，ix尽量不用，容易混淆

# groupby

In [4]:
import numpy as np
import pandas as pd
company=["A","B","C"]
data=pd.DataFrame({
    "company":[company[x] for x in np.random.randint(0,len(company),10)],
    "salary":np.random.randint(5,50,10),
    "age":np.random.randint(15,50,10)
})
data

  company  salary  age
0       B      14   21
1       A      25   27
2       A      35   35
3       A      48   29
4       C      15   31
5       C       9   48
6       C       6   40
7       C      29   41
8       B      34   23
9       A       8   16

In [16]:
group = data.groupby('company')
group

得到的是DataFrameGroupBy 对象

In [21]:
a=[i for i in group]
print(a)
a[0]
type(a[0])

[('A',   company  salary  age
1       A      25   27
2       A      35   35
3       A      48   29
9       A       8   16), ('B',   company  salary  age
0       B      14   21
8       B      34   23), ('C',   company  salary  age
4       C      15   31
5       C       9   48
6       C       6   40
7       C      29   41)]

tuple

In [ ]:
groupby就是把原来一个DataFrame，分成多个DataFrame

# Series.sum

pandas-50的一道题（26. 给定DataFrame，求A列每个值的前3大的B的值的和）

In [1]:
import pandas as pd
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df)
df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)
print(df1)

    A    B
0   a   12
1   a  345
2   a    3
3   b    1
4   b   45
5   c   14
6   a    4
7   a   52
8   b   54
9   c   23
10  c  235
11  c   21
12  b   57
13  b    3
14  c   87
A
a    409
b    156
c    345
Name: B, dtype: int64

这里用level=0， 为什么？

In [2]:
df.groupby('A')['B'].nlargest(3).index

MultiIndex([('a',  1),
            ('a',  7),
            ('a',  0),
            ('b', 12),
            ('b',  8),
            ('b',  4),
            ('c', 10),
            ('c', 14),
            ('c',  9)],
           names=['A', None])

In [ ]:
看下df.groupby('A')['B'].nlargest(3)的索引，可知有两个级别，level=0，或level=1，分别表示索引第一列和第二列

# DataFrame.unstack

In [3]:
s = pd.Series([1, 2, 3, 4],index=pd.MultiIndex.from_product([['one', 'two'],['a', 'b']]))
print(s)

one  a    1
     b    2
two  a    3
     b    4
dtype: int64

In [7]:
print(s.unstack())
print(s.unstack(level=0))
print(s.unstack(level=1))
print(s.unstack(level=-1))

     a  b
one  1  2
two  3  4
   one  two
a    1    3
b    2    4
     a  b
one  1  2
two  3  4
     a  b
one  1  2
two  3  4

In [ ]:
Series和DataFrame之间切换, 由Series变成DataFrame时，level控制哪个索引作为列，默认level=-1，即最后一个索引，由于本例中有两个索引，因此level=1
与level=-1相同